*
{
	margin: 0px;
}

html
{
	font-size: 18px;
	font-family: open-sans, sans-serif;

	background-image: url("stuff/greyzz.png");
}

body
{
	margin: auto;
	padding: 1rem;
	max-width: 480px;
}

h1
{
	font-size: 14rem;
	text-align: center;
	font-family: forque;
	font-weight: normal;
}

input[type=text]
{
	width: 100%;
	padding: 0.25rem;
	box-sizing: border-box;
	
	font: inherit;
}

.to-do
{
	padding: 0.25rem;
	margin: 0.5rem 0rem;

	border-radius: 0.5rem;
	background-color: #E96D63;
}

@font-face {font-family: forque; src: url("stuff/forque.ttf") format("truetype");}
@font-face {font-family: open-sans; src: url("stuff/open-sans.ttf") format("truetype");}