*
{
	margin: 0px;
}

html
{
	font-size: 18px;
	font-family: open-sans, sans-serif;

	background-image: url("stuff/greyzz.png");
}

body
{
	margin: auto;
	padding: 1rem;
	max-width: 480px;
}

h1
{
	margin-bottom: 1rem;
}

h1 > img
{
	width: 100%;
	display: block;
}

input[type=text]
{
	width: 100%;
	padding: 0.25rem;
	box-sizing: border-box;
	
	font: inherit;
}

.to-do
{
	height: 2rem;
	position: relative;
	margin: 0.5rem 0rem;

	overflow: hidden;
	border-radius: 0.25rem;
}

.to-do > .time
{
	top: 0px;
	left: 0px;
	width: 50%;
	bottom: 0px;
	position: absolute;

	background-color: #E96D63;
}

.to-do > .content
{
	z-index: 1;
	padding: 0.5rem;
	line-height: 1rem;
	position: absolute;
}

.to-do > .content > img
{
	height: 0.75rem;
	margin-right: 0.5rem;
	vertical-align: middle;
}

.to-do > .content > a
{
	margin-left: 0.5rem;

	cursor: pointer;
	text-decoration: underline;
}

@font-face {font-family: forque; src: url("stuff/forque.ttf") format("truetype");}
@font-face {font-family: open-sans; src: url("stuff/open-sans.ttf") format("truetype");}